.App {
	height: 100vh;
	width: 100vw;
	background-image: url("./assets/btc.jpg");
	background-size: 95rem;
	position: relative;
}
@media only screen and (max-width: 600px) {
	.App {
		height: 100%;
	}
}

@media only screen and (max-width: 500px) {
	.App {
		height: 100%;
		width: 100vw;
		position: relative;
		background-repeat: repeat;
	}
}
